#header{
    color:green;
    font: size 100px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

#navigation{
    
	  color: black;
	  text-align: center;
	  padding: 14px 16px;
	  font-size: 20px;
}

#photo{
  display: block;
    margin-left: auto;
    margin-right: auto;

}

#intro{

    color: black;
    text-align: center;
    font-size: 20px;

}

#buttons{
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
}

body{
    background-color:antiquewhite;
}